# exclude the build folder
/build

# exclude everthing in nbproject but project.properties and project.xml
/nbproject/*
!/nbproject/project.xml
!/nbproject/project.properties

# exclude google credentials
/credentials
/dist/credentials